@model SysAcad.Models.Treino
@using SysAcad.Models

@{
    ViewBag.Title = "Treino";
    if (ViewBag.IsAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    List<Treino> treinos = ViewBag.Treinos;
    List<Exercicio> exercicios = ViewBag.Exercicios;
    int i = 0;
    int j = 0;
}

@using (Html.BeginForm("Cadastrar", "Treino", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))

{
    <div class="form-horizontal">
        @{
            foreach (Exercicio e in exercicios)
            {
                @Html.Hidden("hdnList", e.ExercicioId)
            }
         }
        <h2>Cadastrar treino</h2>

        <div id="Nome" class="form-group">
            @Html.Label("Nome", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBox("txtNome", "", new { @class = "form-control", @placeholder = "Digite o nome do treino" })
            </div>
        </div>
        <div id="Descricao" class="form-group">
            @Html.Label("Quantidade de treino", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBox("txtQuantidade", "", new { @class = "form-control", @placeholder = "Digite a quantidade" })
            </div>
        </div>



        <div id="Usuario" class="form-group">
            @Html.LabelFor(model => model.Usuario, new { @class = "control-label col-sm-2" })

            <div class="col-sm-10">
                @Html.DropDownList("Usuarios", null,
             " -- SELECIONE -- ",
             new { @class = "form-control" })
            </div>

        </div>
        <div id="DataExpiracao" class="form-group">
            @Html.Label("Data de expiração", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBox("txtDataDeExpiracao", "", new { @class = "form-control", @placeholder = "Digite a data de expiração" })
            </div>
        </div>
        <div id="Exercicios" class="form-group">
            @Html.Label("Exercicios", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
                                    Exercicios
                                </a>
                            </h4>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse in" style="">
                            <div class="row">
                                @{
                                    foreach (Exercicio e in exercicios)
                                    {
                                        string nomeButton = "button"+j;
                                        <input type="checkbox" value="@e.ExercicioId" name="checkbox" id="@j" class="col-lg-2" style = "margin-top:10px" />
                                        @Html.Label(e.Nome, new { @class = "col-lg-2", @style = "margin-top:10px" })
                                        @Html.TextBox("repeticoes", "", new { placeholder = "Repetições", @class = "col-lg-2", @style = "margin-top:10px" })
                                        @Html.TextBox("series", "", new { placeholder = "Séries", @class = "col-lg-1", @style = "margin-top:10px" })
                                        @Html.TextBox("horas", "", new { placeholder = "Horas", @class = "col-lg-2", @style = "margin-top:10px" })
                                        @Html.TextBox("minutos", "", new { placeholder = "Minutos", @class = "col-lg-2", @style = "margin-top:10px;margin-bottom:10px" })
                                        <div class="row">
                                            <div class="col-lg-2"></div>
                                        </div>
                                        j++;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />

            </div>
        </div>

    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeTreinos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataExpiracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TentativasDeTreino)
        </th>
        <th>
            Exercicio
        </th>

    </tr>
    <tr></tr>
    @foreach (var item in treinos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeTreinos)
            </td>
            <td>
                @item.DataExpiracao.ToString("dd/MM/yyyy")
            </td>
            <td>
                @if (item.TentativasDeTreino == null)
                {
                    @("0")
                }
                else
                {
                    @(item.TentativasDeTreino.Count.ToString())
                }

            </td>
            <td>
                <div class="panel-group" id="accordion_@i">
                    <div class="panel panel-default" id="panel_@i">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseOne_@i" href="#collapseOne_@i">
                                    Exercicios
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne_@i" class="panel-collapse collapse">
                            <div class="panel-body">
                                @if (item.ItensTreino != null)

                                {
                                    foreach (ItemTreino itenTreino in item.ItensTreino)
                                    {
                                        <h3 style="margin-top: auto">@itenTreino.Exercicio.Nome</h3>

                                        <ul class="list-group">
                                            <li class="list-group-item col-sm-5 col-sm-offset-1">
                                                @{
                                                    if (itenTreino.Horas != null)
                                                    {
                                                        @("Horas : " + itenTreino.Horas.ToString())
                                                    }
                                                }
                                            </li>

                                            <li class="list-group-item col-sm-5 col-sm-offset-1">
                                                @{
                                                    if (itenTreino.Minutos != null)
                                                    {
                                                        @("Minutos : " + itenTreino.Minutos.ToString())
                                                    }
                                                }
                                            </li>
                                            <li class="list-group-item col-sm-5 col-sm-offset-1">
                                                @{
                                                    if (itenTreino.Series != null)
                                                    {
                                                        @("Séries : " + itenTreino.Series.ToString())
                                                    }
                                                }
                                            </li>
                                            <li class="list-group-item col-sm-5 col-sm-offset-1">
                                                @{
                                                    if (itenTreino.Repeticoes != null)
                                                    {
                                                        @("Repetições : " + itenTreino.Repeticoes.ToString())
                                                    }
                                                }
                                            </li>
                                        </ul>                               
                                        }
                                    i++;
                                }


                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>

    }

</table>

<script>
        function myFunction() {
            var btn = document.getElementById("button" + arguments[0]);
            var minutos = document.getElementById("minutos" + arguments[0]);
            var horas = document.getElementById("horas" + arguments[0]);
            var series = document.getElementById("series" + arguments[0]);
            var repeticoes = document.getElementById("repeticoes" + arguments[0]);

            if (btn.textContent == "Kg") {
                series.style.display = "none"
                repeticoes.style.display = "none"
                minutos.style.display = "block"
                horas.style.display = "block"
                btn.textContent = "Minutos"
            } else {
                series.style.display = "block"
                repeticoes.style.display = "block"
                minutos.style.display = "none"
                horas.style.display = "none"
                btn.textContent = "Kg"

            }
        }
</script>








