@model IEnumerable<SysAcad.Models.Treino>
@using SysAcad.Models

@{
    int i = 0;
    if (ViewBag.IsAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    SysAcad.Models.Usuario usuario = ViewBag.Usuario;
}
<table class="table">
    <tr>
        <th>
            <h4>Nome</h4>
        </th>
        <th>
            <h4>Quantidade de treinos</h4>
        </th>
        <th>
            <h4>Data de expiração</h4>
        </th>
        <th>
            <h4>Treinos realizados</h4>
        </th>

    </tr>
    <tr></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h3>@(item.Nome)</h3>
            </td>
            <td>
                <h3>@(item.QuantidadeTreinos)</h3>
            </td>
            <td>
                <h3>@(item.DataExpiracao.ToString("dd/MM/yyyy"))</h3>
            </td>
            <td>
                <h3>@(item.TreinosRealizados.Count.ToString())</h3>
            </td>
            <td>
                <div class="panel-group" id="accordion_@i">
                    <div class="panel panel-default" id="panel_@i">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseOne_@i" href="#collapseOne_@i">
                                    Exercicios
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne_@i" class="panel-collapse collapse">
                            <div class="panel-body">
                                @foreach (ItemTreino itenTreino in item.ItensTreino)
                                {
                                    <h3>@itenTreino.Exercicio.Nome</h3>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                @("Repetições : " + itenTreino.Repeticoes.ToString())
                                            </li>
                                            <li class="list-group-item">
                                                @("Séries : " + itenTreino.Series.ToString())
                                            </li>
                                        </ul>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                @Html.ActionLink("Iniciar treino", "IniciarTreino", "Treino", new {@class = "btn btn-danger" })
                </td>
            </tr>
        i++;
    }

</table>
