@using SysAcad.Models
@{
    ViewBag.Title = "TreinoAtual";
    if (ViewBag.IsAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    Treino t = ViewBag.TreinoAtual;
    TentativaDeTreino tentativaAtual = t.TentativasDeTreino.Last();
    int index = t.ItensTreino.FindIndex(item => item == tentativaAtual.ItemTreinoAtual);
    string rowColor = "";
}
<div>
    <h2>@t.Nome</h2>
    @using (Html.BeginForm("Proximo", "Treino", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))

    {

        <div class="form-group row">
            @{
                if (tentativaAtual.ItemTreinoAtual.Exercicio != null && !tentativaAtual.ItemTreinoAtual.Exercicio.Nome.IsEmpty())
                {
                    string color = "#21a6ff";
                    <div class="col-lg-offset-1">
                        @Html.Hidden("hdnId", index)
                        <h3 style="color:@color">Exercício atual : @tentativaAtual.ItemTreinoAtual.Exercicio.Nome</h3>
                        @Html.TextBox("txtMedida", "", null, new { @class = "col-lg-2" })
                        <select name="Unidades" class="col-lg-2 col-sm-offset-1 btn btn-warning" id="unidades">
                            <option value="peso">Kg</option>
                            <option value="minutos" selected>Minutos</option>
                        </select>
                        <input type="submit" value="Próximo exercício" class="btn btn-default col-lg-2 col-lg-offset-2" />
                        @Html.ActionLink("Finalizar Treino", "Finalizar", "Treino", new { @class = "btn btn-danger col-lg-2 col-lg-offset-1" })
                    </div>

                }
                else
                {
                    <h3>Sem Exercicio Atual</h3>
                }
            }
        </div>
                }

    <table class="table">
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Link</th>
            <th>Séries</th>
            <th>Repetições</th>

        </tr>
        @foreach (ItemTreino itemTreino in t.ItensTreino)
        {
            bool atual = false;
            int indexAtual = t.ItensTreino.FindIndex(item => item == itemTreino);
            if (indexAtual == index)
            {
                rowColor = "#21a6ff";
                atual = true;
            }
            else
            {
                rowColor = "#bdbfc9";
                atual = false;
            }

            <tr bgcolor="@rowColor">
                @if (itemTreino.Exercicio.Imagens != null && itemTreino.Exercicio.Imagens.Count > 0)
                {
                    <td>
                        <img src="@itemTreino.Exercicio.Imagens[0].Caminho"
                             style="width:100px" />
                    </td>
                }
                else
                {
                    <td>
                        Sem imagem
                    </td>
                }
                @{
                    if (atual)
                    {
                        <td class="text-danger" style="font-size:25px;color:white;">@itemTreino.Exercicio.Nome</td>
                    }
                    else
                    {
                        <td>@itemTreino.Exercicio.Nome</td>
                    }
                }
                <td>
                    @{
                        if (atual)
                        {
                            <a href="@itemTreino.Exercicio.Link" style="font-size:25px; color:black;">
                                <div style="height:100%;width:100%;text-decoration:underline">
                                    @itemTreino.Exercicio.Link
                                </div>
                            </a>
                        }
                        else
                        {
                            <a href="@itemTreino.Exercicio.Link">
                                <div style="height:100%;width:100%;text-decoration:underline">
                                    @itemTreino.Exercicio.Link
                                </div>
                            </a>
                        }
                    }

                </td>
                @{
                    if (atual)
                    {
                        <td class="text-danger" style="font-size:25px;color:white;">@itemTreino.Series</td>
                        <td class="text-danger" style="font-size:25px;color:white;">@itemTreino.Repeticoes</td>
                    }
                    else
                    {
                        <td>@itemTreino.Series</td>
                        <td>@itemTreino.Repeticoes</td>
                    }
                }

            </tr>
                    }

</div>
