@using SysAcad.Models
@{
    ViewBag.Title = "TreinoAtual";
    if (ViewBag.IsAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    Treino t = ViewBag.TreinoAtual;
    TentativaDeTreino tentativaAtual = t.TentativasDeTreino.Last();
    int index = t.ItensTreino.FindIndex(item => item == tentativaAtual.ItemTreinoAtual);
    string rowColor = "";
}

<h2>@t.Nome</h2>

<div>
    @{
        if (tentativaAtual.ItemTreinoAtual.Exercicio != null && !tentativaAtual.ItemTreinoAtual.Exercicio.Nome.IsEmpty())
        {
            <h3>@tentativaAtual.ItemTreinoAtual.Exercicio.Nome</h3>
        }
        else
        {
            <h3>Sem Exercicio Atual</h3>
        }
    }

    @Html.TextBox("txtMedida", "", null, null)
    <select name="Unidades">
        <option value="valor1">Kg</option>
        <option value="valor2" selected>Minutos</option>
    </select>

</div>
<table class="table table-striped">
    <tr>
        <th></th>
        <th>Nome</th>
        <th>Link</th>
        <th>Séries</th>
        <th>Repetições</th>

    </tr>
    @foreach (ItemTreino itemTreino in t.ItensTreino)
    {
        bool atual = false;
        int indexAtual = t.ItensTreino.FindIndex(item => item == itemTreino);
        if (indexAtual == index)
        {
            rowColor = "#21a6ff";
            atual = true;
        }
        else
        {
            rowColor = "#bdbfc9";
            atual = false;
        }

        <tr bgcolor="@rowColor">
            @if (itemTreino.Exercicio.Imagens != null && itemTreino.Exercicio.Imagens.Count > 0)
            {
                <td>
                    <img src="@itemTreino.Exercicio.Imagens[0].Caminho"
                         style="width:100px" />
                </td>
            }
            else
            {
                <td>
                    Sem imagem
                </td>
            }
            @{
                if (atual)
                {
                    <td class="text-danger" style="font-size:25px;color:white;">@itemTreino.Exercicio.Nome</td>
                }
                else
                {
                    <td>@itemTreino.Exercicio.Nome</td>
                }
            }
            <td>
                @{
                    if (atual)
                    {
                        <a href="@itemTreino.Exercicio.Link" style="font-size:25px; color:black;">
                            <div style="height:100%;width:100%;text-decoration:underline">
                                @itemTreino.Exercicio.Link
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="@itemTreino.Exercicio.Link">
                            <div style="height:100%;width:100%;text-decoration:underline">
                                @itemTreino.Exercicio.Link
                            </div>
                        </a>
                    }
                }

            </td>
            @{
                if (atual)
                {
                    <td class="text-danger" style="font-size:25px;color:white;">@itemTreino.Series</td>
                    <td class="text-danger" style="font-size:25px;color:white;">@itemTreino.Repeticoes</td>
                }
                else
                {
                    <td>@itemTreino.Series</td>
                    <td>@itemTreino.Repeticoes</td>
                }
            }

        </tr>
    }
